body {
    background-color: #F4F1F1;
}


/* Add global CSS for the slide-in and slide-out animation */
@keyframes slideInOut {
    0% { transform: translateX(100%); }
    10% { transform: translateX(0); }
    90% { transform: translateX(0); }
    100% { transform: translateX(100%); }
}