/* Custom Pagination Dots for Landing Page */
.custom-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
    background-color: #EE7F61;
}